@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
  --negro: #171717;
  --blanco: #fff;
  --twitter: #55acee;
  --instragram: #e1306c;
  --youtube: #f00;
}

body {
  margin: 0;
  background-color: var(--blanco);
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card{
  height: 30rem;
  width: 18rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--negro);
  border: 2.5px solid var(--negro);

  img {
    height: 90px;
    width: 90px;
  }

  h1{
    text-transform: uppercase;
  }

  p{
    text-align: center;
  }

  a {
    display: inline-block;
    width: 80%;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid var(--negro);
    border-radius: 20px;
    background-color: var(--negro);
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
  }
}

.card:hover {
  color: var(--blanco);
  
  a {
    background-color: var(--blanco);
  }

  a:hover {
    background-color: var(--negro);
    color: var(--blanco);
  }

  img {
    fill: var(--blanco);
  }
}

.card.twitter:hover {
  background-color: var(--twitter);

  a {
    color: var(--twitter);
  }
}

.card.instagram:hover {
  background-color: var(--instragram);

  a {
    color: var(--instragram);
  }
}

.card.youtube:hover {
  background-color: var(--youtube);

  a {
    color: var(--youtube);
  }
}